.Mui-expanded > .MuiAccordionSummary-root{
    margin: 0 !important;
    background: #e8e9ed !important;
    min-height: 30px !important;

}
.MuiAccordionSummary-content{
    margin: 0 !important;
    font-weight: 500 !important;
}
.active-menu{
    background-color: #C7E7F8;
}
.menu:hover{
    cursor: pointer;
}